body {
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.384); /* Adjust opacity as needed */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    text-align: left;
    max-width: 500px;
    width: 90%;
    margin: 50px auto;
    backdrop-filter: blur(5px); /* Create the glassy effect */
}

.user-details {
    display: flex;
    flex-direction: column;
}

/* Styles for labels */
label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Styles for inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    width: 100%; /* Adjust the width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styles for radio buttons */
input[type="radio"] {
    margin-right: 10px;
}
